<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Edit</title>
</head>
<body>
<form method="Post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ fields.errors }}
            <label>
                {{ field.label_tag }}
            </label>
            <div class="input--style-4">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
    </div>
</form>
</body>
</html>
