<!DOCTYPE html>
<html lang=ru>
<head>
    <meta charset=utf-8>
    <title>Race</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function sendUltraPost(id) {
            $.ajax({ // create an AJAX call...
                data: {event: id},
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                url: '/join/',
                success: function (response) {
                    $('#join').replaceWith();
                }
            });
        };
    </script>
</head>
<body>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">{{ object.name }} Race</h2>
            <div class="center">
                <ul>
                    <li style="display: inline; margin-right: 60px;font-size: 27px">Place - {{ event.place }}</li>
                    <li style="display: inline; margin-right: 60px;font-size: 27px">Date - {{ event.date }}</li>
                    <li style="display: inline; margin-right: 60px;font-size: 27px">Distance
                        - {{ event.distance.distance }} km
                    </li>
                </ul>
            </div>
            <div>

                <table>
                    <tr>
                        <th>Full name</th>
                        <th>Run time</th>
                        <th>Place</th>
                    </tr>
                    {% for run in object.run_set.all %}
                        <tr>
                            <th>{{ run.person.first_name }} {{ run.person.last_name }} {{ run.person.third_name }}</th>
                            <th>{{ run.time }}</th>
                            <th>{{ run.took_place }}</th>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>

        <p class="article-content">{{ object.content }}</p>

        <button id='join' onclick="sendUltraPost({{ object.id }})">Join</button>
        <button> Back to list</button>
    </div>
</article>
</body>
</html>

<style>
    body {
        font: normal medium/1.4 sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 40%;
    }

    th, td {
        padding: 0.25rem;
        text-align: left;
        border: 1px solid #ccc;
    }
</style>