<style>
    div {
        width: 10000px;
        height: 150px; /* Размеры */
        background: #dbdbdb; /* Цвет фона */
        outline: 2px solid #ffffff; /* Чёрная рамка */
        border: 3px solid #fff; /* Белая рамка */
        border-radius: 10px; /* Радиус скругления */
        margin: auto;
    }
</style>
<body>
{% for event in events %}
    <article class="media content-section">
        <div class="media-body">
            <div class="center">
                <ul>
                    <h2><a class="mr-2" href="{% url 'm-event_detail' event.id %}"> {{ event.name }}</a></h2>
                    <li style="display: inline; margin-right: 60px;font-size: 27px">Place - {{ event.place }}</li>
                    <li style="display: inline; margin-right: 60px;font-size: 27px">Date - {{ event.date }}</li>
                    <li style="display: inline; margin-right: 60px;font-size: 27px">Distance - {{ event.distance_id.distance }} km</li>
                </ul>
            </div>
                <h2><a class="article-title" href="{% url 'm-event_detail' event.id %}">{{ event.title }}</a></h2>
        </div>
    </article>
{% endfor %}
</body>

