.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/50e0dc444a5ab108f5d084609629317e113fdce15b4c704f752673d19349c55b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-group-1 {
  min-height: 187px;
  width: 853px;
  height: auto;
  margin: 160px 132px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 22px 0 0;
}

.u-section-1 .u-list-1 {
  min-height: 212px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
  margin: -70px auto 60px 0;
}

.u-section-1 .u-list-item-1 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 87px;
  }

  .u-section-1 .u-list-1 {
    min-height: 175px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-list-1 {
    min-height: 402px;
    grid-template-columns: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 618px;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-video-1 {
    height: 300px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1241px;
}

.u-section-3 .u-text-1 {
  margin: 54px 210px 0 250px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 940px;
  margin: 72px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 80px;
  width: 239px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 80px;
  width: 239px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 80px;
  width: 239px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-image-4 {
  height: 80px;
  width: 239px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 158px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-image-5 {
  height: 80px;
  width: 239px;
  margin: 5px auto 0;
}

.u-section-3 .u-group-1 {
  width: 827px;
  min-height: 779px;
  background-image: none;
  height: auto;
  margin: 10px 131px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  margin: 67px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 110px;
    margin-left: 150px;
  }

  .u-section-3 .u-image-1 {
    height: 78px;
    width: 233px;
  }

  .u-section-3 .u-image-2 {
    height: 78px;
    width: 233px;
  }

  .u-section-3 .u-image-3 {
    height: 78px;
    width: 233px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 0;
  }

  .u-section-3 .u-group-1 {
    margin-right: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 115px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 121px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -790px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 258px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 173px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -401px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 162px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 109px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 115px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
}